[submodule "solutii/007blak"]
	path = solutii/007blak
	url = git://gist.github.com/951784.git
[submodule "solutii/sovy"]
	path = solutii/sovy
	url = git://gist.github.com/952397.git
[submodule "solutii/flavius"]
	path = solutii/flavius
	url = git@gist.github.com:174d6b0ad00c754360b9.git
[submodule "solutii/paullik"]
	path = solutii/paullik
	url = git://gist.github.com/960680.git
[submodule "solutii/jazz7787"]
	path = solutii/jazz7787
	url = git://gist.github.com/961326.git
[submodule "solutii/Hotice"]
	path = solutii/Hotice
	url = git@gist.github.com:2427745021a73ad983a9.git
[submodule "solutii/lispmachines"]
	path = solutii/lispmachines
	url = git@gist.github.com:47789aea3615e7b6180b.git
