[submodule "solutii/007blak"]
	path = solutii/007blak
	url = git://gist.github.com/951784.git
[submodule "solutii/sovy"]
	path = solutii/sovy
	url = git://gist.github.com/952397.git
[submodule "solutii/flavius"]
	path = solutii/flavius
	url = git@gist.github.com:174d6b0ad00c754360b9.git
[submodule "solutii/paullik"]
	path = solutii/paullik
	url = git://gist.github.com/960680.git
